{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
{% if app.user %}
<div class="mb-3">
        Tu es connecté avec {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
</div>
{% else %}
<div id="flex">
        <div id="titre-connexion">
                <h1>S'inscrire</h1>
        </div>
    {{ form_start(registrationForm) }}
        <div id="form-container">
                {{ form_row(registrationForm.email, {
                        placeholder: 'Email'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe ',
                        placeholder: 'Mot de passe'
                }) }}
        </div>
        <div id="submit-form-container">
                {{ form_row(registrationForm.agreeTerms, {
                        label: 'Accepter les termes '
                }) }}

                <button type="submit" class="btn">S'inscrire</button>
        </div>

    {{ form_end(registrationForm) }}
</div>
{% endif %}
{% endblock %}
