{% extends 'base.html.twig' %}

{% block title %}Les Évènements {% endblock %}

{% block body %}
    <style>
        .carte:hover {
            box-shadow: 10px 10px 0px 0px #9747FF,10px 10px 0px 2.5px black;
            transform: translateX(-10px);
            transition: 500ms;
        }
        .img {
            background-color: grey;
            background-size: cover;
            margin: auto;
            width: 94%;
            height: 65%;
            margin-top: 8px;
            overflow: hidden;
            margin-bottom: 5px;
        }
        .img img{
            width: 100%;
            margin: auto;
        }

    </style>
    <div id="titre">
        <h2>Evenements</h2>
    </div>
    <div id="manifs">
        {% for Manifs in Manifs %}
            <div class="carte">
                <div class="img">
                    <img src=" {{ asset("Image/#{ Manifs.affiche }") }}">
                </div>
                <div class="texte">
                    <h4>{{ Manifs.titre }}</h4>
                    <p>{{ Manifs.heure }}</p>
                    <p>{{ Manifs.date }}</p>
                    <p>{{ Manifs.prix }} €</p>
                </div>
                <button onclick="window.location.href ='manifs/{{ Manifs.id }}';">Réserver</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
