{% extends './base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div id="manif-titre">
        <h1 id="titre">{{ Manifs.titre }}</h1>
        <h2>{{ Manifs.auteur }}</h2>
    </div>
    <img src=" {{ asset("Image/#{ Manifs.affiche }") }}" id="affiche">
    <div class="example-wrapper">
        <h4>{{ Manifs.genre }}</h4>
        <p>{{ Manifs.heure }}</p>
        <p>{{ Manifs.date }}</p>
        <div><p id="prix">{{ Manifs.prix }}</p>€
        x<input type="number" value="1" min="1" max="99" id="qte"></div>
        <p>{{ Manifs.description }}</p>
        <p>{{ Manifs.lieu }}</p>
        <p>{{ Manifs.lieu.adresse }}</p><input type="hidden" id="id" value="{{ Manifs.id }}">
        <button id="ajout">ajouter au panier</button>

    </div>
    <script type="text/javascript" src="{{ asset('scriptpagearticles.js') }}"></script>
{% endblock %}
